
.main {
    line-height: 1;
}

.sectionHeaderContainer {
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 26px;

    padding: 5px 0;
    margin-bottom: 15px;
    margin-top: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.right {
    text-align: right;
}

.company {
    font-weight: bold;
}

.position {
    font-style: italic;
}